{
  "ConnectionStrings": {
       "DefaultConnection": "Host=localhost;Port=5433;Database=souqy;Username=postgres;Password= YOUR_POSTGRESQL_PASSWORD"
     },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
